html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  height: 100vh;
  background-color: white;
}

.joinInnerContainer {
  padding-top: 5%;
  width: 20%;
}

.joinInnerContainer1 {
  width: 60%;
  padding-left: 10%;
  padding-right: 5%;
}

.joinInput {
  border: 2px solid #5b94f8;
  border-radius: 10px;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: #2979FF;
  text-align: center;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}


.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
    box-shadow: 0 8px 16px 0 #9eb9e9, 0 6px 20px 0 rgba(0,0,0,0.19);
}

.mt-20 {
  margin-top: 20px;
}


@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
    justify-content: center;
    text-align: center; 
    align-items: center;
    display: block;
    padding-left: 5%;
    padding-right: 5%;
  }
  .joinInnerContainer {
    width: 100%;
  }
  .joinInnerContainer1 {
    display: none;
  }
  .joinInnerContainersm{
    width: 100%;
  }
}

@media (min-width: 480px) 
{
.joinInnerContainersm{
  display: none;
}
}

button:focus {
  outline: 0;
}

